<header class="header">
  <div class="header__top">
      <div class="container ">
          <div class="row">
              <div class="col-lg-12 col-md-5">
                  <div class="header__top__right">
                      <div class="header__top__links">
                      <% if user_signed_in? %>
                          <div class="dropdown">
                              <button class="btn dropdown-toggle " type="button" data-bs-toggle="dropdown">Account
                              <span class="caret"></span></button>
                              <ul class="dropdown-menu">
                                  <li ><a><%= link_to "Profile", user_path(@user) ,class:"s-drop" %></a></li>
                                  <li ><a><%= link_to "edit", edit_user_registration_path(@user) ,class:"s-drop" %></a></li>
                                  <li><a><%= link_to "Sign out", destroy_user_session_path, method: :delete ,class:"s-drop"%></a></li>
                              <li class="divider"></li>
                              </ul>
                          </div>
                      <%else%>
                        <a><%= link_to "Return" ,root_path ,class:"s-drop"%></a>
                        <a><%= link_to "Help" ,root_path ,class:"s-drop"%></a>
                        <a><%= link_to "Register", new_user_registration_path ,class:"s-drop header-s" %>/<%= link_to "Login", new_user_session_path ,class:"s-drop" %></a>
                      <%end%>
                      </div>
                  </div>
              </div>
              <hr color="black"/>
          </div>
      </div>
  </div>
  
  <div class="container">
      <div class="row">
          <div class="col-lg-1 col-md-3">
            <div class="header-icon">
              <a href="./products"><i class="bi bi-search color-search"></i></a>
            </div>
          </div>
          <div class="col-lg-9 col-md-6">
            <nav class="header__menu mobile-menu">
              <ul>
                <li><%= link_to "SHOP", products_path %></li>
                <li><%= link_to "ESSENTIALS", root_path %></li>
                <li><a href="./products"><img src="/assets/logo.png" width = "240" height = "50"></a></li>
                <li><%= link_to "BEST SELLERS", products_path %></li>
                <li><%= link_to "ABOUT US", root_path %></li>
              </ul>
            </nav>
          </div>
          <%if user_signed_in?%>
          <div class="col-lg-2 col-md-5">
             <div class="header__nav__option">
              <%= link_to '<i class="bi bi-person change-icon-color"></i> '.html_safe, user_path(@user) %>
              <%= link_to '<i class="bi bi-bell change-icon-color"></i> '.html_safe %>
              <%= link_to '<i class="bi bi-basket change-icon-color"></i> '.html_safe, cart_index_path %>
          </div>
          <%end%>
        </div>
      </div>
      <div class="canvas__open"><i class="fa fa-bars"></i></div>
  </div>
</header>