<div class="main-panel">        
  <div class="content-wrapper">
    <div class="row">
      <div class="col-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
          <h1> New User </h1>
            <%= form_with(url: admins_users_url) do |f|  %>
              <div class="form-group">
                <label for="exampleInputName1">number of user:</label>
                <%= f.text_field :number_user, autofocus: true , class:"form-control",placeholder:"number"%>
              </div>
              <div class="form-group">
                <label for="exampleInputName1">email:</label>
                <%= f.email_field :email, autofocus: true, autocomplete: "email" ,class:"form-control",placeholder:"email"%>
              </div>
              <div class="form-group">
                <label for="exampleInputName1">password:</label>
                <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %><br />
                <%= f.password_field :password, autocomplete: "new-password" ,class:"form-control",placeholder:"password"%>
              </div>
              <div class="form-group">
                <label for="exampleInputName1">password_confirmation:</label>
                <%= f.password_field :password_confirmation, autocomplete: "new-password",class:"form-control",placeholder:"password_confirmation" %>
              </div>
              <%= f.submit "submit" ,class: "btn btn-primary mr-2"%>
              <%= link_to "Cancel", admins_products_path,class:"btn btn-light" %>
            <%end%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>