 <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Check Out</h4>
                        <div class="breadcrumb__links">
                            <a href="./index.html">Home</a>
                            <a href="./shop.html">Shop</a>
                            <span>Check Out</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Checkout Section Begin -->
    <section class="checkout spad">
        <%= form_with(url: payments_checkout_path) do |f| %>
        <div class="container">
            <div class="checkout__form">
                <form action="#">
                    <div class="row">
                        <div class="col-lg-8 col-md-6">
                            <h6 class="coupon__code"><span class="icon_tag_alt"></span> Have a coupon? <a href="#">Click
                            here</a> to enter your code</h6>
                            <h6 class="checkout__title">Credit Card</h6>
                            <div class="checkout__input"> 
                                <p>Card Number<span>*</span></p>
                                <%=f.text_field "card_number" ,type:"input", placeholder:"CARD NUMBER"%>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>MM/YY<span>*</span></p>
                                        <%=f.text_field "MM_YY" ,type:"input", placeholder:"MM/YY"%>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>CVV Code<span>*</span></p>
                                        <%=f.text_field "code" ,type:"input", placeholder:"CVV CODE"%>
                                    </div>
                                </div>
                            </div>
                            <div class="checkout__input">
                                <p>Name On The Card<span>*</span></p>
                                <%=f.text_field "name_card" ,type:"input", placeholder:"NAME ON THE CARD"%>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="checkout__order">
                                <h4 class="order__title">Your order</h4>
                                <div class="checkout__order__products">Product <span>Total</span></div>
                                <% @order.orderitems.each do |orderitem|%>
                                <ul class="checkout__total__products">
                                    <li><%=orderitem.product.name%> <span><%=orderitem.total%></span></li>
                                </ul>
                                <%end%>
                                <ul class="checkout__total__all">
                                    <li>Subtotal <span><%=@order.subtotal%></span></li>
                                    <li>Total <span><%=@order.subtotal%></span></li>
                                </ul>
                                <p>Lorem ipsum dolor sit amet, consectetur adip elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua.</p>
                                <a><%= f.submit "PLACE ORDER", type:"submit", class:"site-btn"%></a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
         <%end%>
    </section>
    