<%if flash[:alert].present?%>
  <%= render "shared/model_checkout_complete" %>
<%end%>
<section class="checkout spad">
<%= form_with(url: payments_checkout_path) do |f| %>
<div class="container">
    <div class="checkout__form">
        <form action="#">
            <div class="row">
                <div class="col-lg-8 col-md-6">
                  <h6 class="checkout__title">PAYMENT</h6>
                    <table>
                        <tr>
                            <th>
                              <div class="form-check payments-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                                <label class="form-check-label" for="flexRadioDefault2">
                                  Debit/Credit Card
                                </label>
                              </div>
                            </th>
                        </tr>
                        <tr>
                            <td>
                              <div class="form-check payments-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                <label class="form-check-label" for="flexRadioDefault1">
                                  Paypal
                                </label>
                              </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                              <div class="form-check payments-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                <label class="form-check-label" for="flexRadioDefault1">
                                  Bitcoin
                                </label>
                              </div>
                            </td>
                        </tr>
                    </table>
                    <h6 class="checkout__title">Credit Card</h6>
                    <div class="checkout__input"> 
                        <p>Card Number<span>*</span></p>
                        <%=f.text_field "card_number" ,type:"input", placeholder:"CARD NUMBER"%>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="checkout__input">
                              <p>MM/YY<span>*</span></p>
                              <%=f.text_field "MM_YY" ,type:"input", placeholder:"MM/YY"%>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="checkout__input">
                              <p>CVV Code<span>*</span></p>
                              <%=f.text_field "code" ,type:"input", placeholder:"CVV CODE"%>
                            </div>
                        </div>
                    </div>
                    <div class="checkout__input">
                        <p>Name On The Card<span>*</span></p>
                        <%=f.text_field "name_card" ,type:"input", placeholder:"NAME ON THE CARD"%>
                    </div>
                    <div class="row">
                      <%if @order.nil?%>
                       <div class="col-lg-6 col-md-6 col-sm-6">
                          <%= link_to "back to product", products_path,class:"btn btn-dark setting-update-cart-right" %>
                        </div>
                      <%else%>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                          <%= link_to "Back To checkout", checkouts_path,class:"btn btn-dark setting-update-cart-left" %>
                        </div>
                         <div class="col-lg-6 col-md-6 col-sm-6">
                         <a><%= f.submit "checkout", type:"submit", class:"btn btn-dark setting-update-cart-right"%></a> 
                         </div>    
                      <%end%>
                    </div> 
                </div>
                <div class="col-lg-4 col-md-6">
                  <%if @order.nil?%>
                    <img src="/assets/payment_checkout.png"  width="600" height="500">
                  <%else%>
                    <div class="checkout__order">
                        <h4 class="order__title">Your order</h4>
                        <div class="checkout__order__products">Product <span>Total</span></div>
                        <% @order.orderitems.each do |orderitem|%>
                        <ul class="checkout__total__products">
                          <li><%=orderitem.product.name%> <span><%=orderitem.total%></span></li>
                        </ul>
                        <%end%>
                        <ul class="checkout__total__all">
                          <li>Subtotal <span><%=@order.subtotal%></span></li>
                          <li>Total <span><%=@order.subtotal%></span></li>
                        </ul>
                        <p>Lorem ipsum dolor sit amet, consectetur adip elit, sed do eiusmod tempor incididunt
                        ut labore et dolore magna aliqua.</p>
                    </div>
                  <%end%>
                </div>
            </div>
        </form>
    </div>
</div>
  <%end%>
</section>
