<div class="main-panel">        
  <div class="content-wrapper">
    <div class="row">
      <div class="col-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Edit products</h4>
            <form class="forms-sample">
            <%= form_with(url: admins_product_path) do |f|  %>
              <div class="form-group">
                <label for="exampleInputName1">Name</label>
                <%= f.text_field :name, autofocus: true , class:"form-control", value: @product.name ,placeholder:"Name of book"%>
              </div>  
              <div class="form-group">
                  <label for="exampleInputName1">price</label>
                  <%= f.text_field :price, autofocus: true , class:"form-control", value: @product.price ,placeholder:"price"%>
              </div>
              <div class="form-group">
                <label>File upload</label>
                <input type="file" name="img[]" class="file-upload-default">
                <div class="input-group col-xs-12">
                  <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Image">
                  <span class="input-group-append">
                    <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                  </span>
                </div>
              </div>
              <div class="form-group">
                <label for="exampleInputCity1">City</label>
                <input type="text" class="form-control" id="exampleInputCity1" placeholder="Location">
              </div>
              <div class="form-group">
                <label for="exampleTextarea1">discription</label>
                <%= f.text_area :discription, autofocus: true , class:"form-control", value: @product.discription , rows:"4"%>
              </div>
              <%= f.submit "submit" ,class: "btn btn-primary mr-2"%>
              <%= link_to "Cancel", admins_products_path,class:"btn btn-light" %>
            <%end%>
            </form>
          </div>
        </div>
      </div>
  <!-- partial -->
</div>