 <section class="hero">
    <div class="p-5 text-center bg-image rounded-3" style="
    background-image: url('/assets/hero/hero.jpeg');
    height: 600px;
  ">
  <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
    <div class="d-flex justify-content-center align-items-center h-100">
      
    </div>
  </div>
</div>
</section>
<!-- Shop Section Begin -->
<section class="shop spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="shop__sidebar">
                       <%=search_form_for @q  do |f|%>
                          <%= f.label :search_by_name %>
                          <div class="input-group">     
                            <%=f.text_field :name_cont ,type:"search", class:"form-control rounded", placeholder:"Search"%>
                            <%=f.submit "search",class:"btn btn-outline-primary"%>
                          </div>
                        <%end%>
                    <div class="shop__sidebar__accordion">
                          <div id="accordion">
                            <div class="card">
                              
                                <h5 class="mb-0">
                                  <a class="btn btn-lg btn-block" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    CATEGORIES
                                  </a>
                                </h5>
                              <hr color="black"/>
                              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-bs-parent="#accordion">
                                <div class="card-body">
                                      <ul class="list-group">
                                        <%@categories.each do |category|%>
                                          <li class="list-group-item"> <%= link_to category.name, products_path(search: category.id, q: "category_search") ,class:"btn btn-inverse"%></li>
                                        <%end%>
                                      </ul>                             
                                </div>
                              </div>
                            </div>
                            <div class="card">
                                <h5 class="mb-0">
                                  <button class="btn btn-lg btn-block" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Company
                                  </button>
                                </h5>
                                <hr color="black"/>
                              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-bs-parent="#accordion">
                                <div class="card-body">
                                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry ricS.
                                </div>
                              </div>
                            </div>
                            <div class="card">
                                <h5 class="mb-0">
                                  <button class="btn btn-lg btn-block" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Price
                                  </button>
                                </h5>
                                <hr color="black"/>
                              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-bs-parent="#accordion">
                                <div class="card-body">
                                  Anim pariatur cliche reprehenderit, enim eiusmod 
                                </div>
                              </div>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="shop__product__option">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="shop__product__option__left">
                                <p>Showing <%= @products.length%> results</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="shop__product__option__right">
                                <p>Sort by Price:</p>
                                <select>
                                    <option value="">Low To High</option>
                                    <option value="">$0 - $55</option>
                                    <option value="">$55 - $100</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row border-setting">
                  <%@products.each do |product|%>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="product__item">
                            <div class="product__item__pic set-bg" data-setbg="/assets/product/product-2.jpg" style="background-image: url(<%= rails_blob_url(product.image) %>)"; >
                                <ul class="product__hover">
                                    <li><a href="#"><img src="/assets/icon/heart.png" alt=""></a></li>
                                    <li><a href="#"><img src="/assets/icon/compare.png" alt=""> <span>Compare</span></a>
                                    </li>
                                    <li><a href="#"><img src="/assets/icon/search.png" alt=""></a></li>
                                </ul>
                            </div>
                            <div class="product__item__text">
                                <h6><%=product.name%></h6>
                                <a > <%= link_to "Detail", product_path(product) ,class:"add-cart"%></a>
                                <div class="rating">
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>
                                <h5><%= product.price%></h5>
                            </div>
                        </div>
                    </div>
                  <%end%>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="product__pagination">
                            <%= paginate @products , theme: 'twitter-bootstrap-3' %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shop Section End -->